img#header-top-img{
    height: 50px;
    width:1108px;

}
img#img-header-mid{
    height:110px;
    width:372px;
}
div#left{
    float :left;
    text-align: center;

}
p.center-input{
    text-align: left;
}
div#middle{
    float:left;
    padding-top:20px;
    background-color: white;
}
div#right{
    float :left;


    background-color: white;
}
p#right-p{
    padding-top: 20px;
    padding-left: 150px;

}
.links {
    color: black;
    text-decoration: none;
}
div#header-bot{


}
div#header-top{
    width:1108px;
    height:48px;
    background-color: white;
    float:none;
}
div#header-mid{
    text-align: center;
    float:none;
    width:1108px;
    height:110px;
    background-color: white;
}
p#middle-p{
    background-color: white;
    padding-top: 10%;
    padding-left: 20%;


}
div#middle{

}
div#header-bot{
    float:none;
}
.clear {
    clear:both;
}
#header-bot-left{
    text-align: left;
    background-color: white;
    float:left;
}
div#header{
    width:1108px;
    height:232px;
}
div#body-mid-left{
    padding-left: 8px;
    float:left;
}
div#body-mid-right{
    float:left;
    padding-left: 6px;

}
div#body-mid{
    width:1108px;
    height:425px;

}
div#left-out{
    color: #EEEE;
    width: 50px;
    height: auto;
    float:left;
}
div#header{
    float:left;
    width=100%;
}

div#body-bot-left{
  padding-left: 13px;
    float:left;
}
div#body-bot-right{
    padding-right: 7    px;
    float:left;
}
div#all-head{
    text-align: center;
    margin: 0 px auto;
    width: 90%;
}
div#header-bot-right{
    align-content: right;
    margin-bot:0px;
    width:252px;
    height:72px;
    float:left;

}
#header-bot{
    background-color: white;
    width:1108px;
    height:72px;
}
#menu li{
    color: #f1f1f1;
    display: inline-block;
 padding-right :80px;

}
#menu div{

}
#order{
  margin-left:-5px;
    margin-top:-8px;
}
#find{
    margin-left:-25px;
    margin-top:-9px;
}
#body{
    padding-left: 0px;
    padding-top: 250px;
    background-color: white;
    width:1108px;
    height:1520px;
}
#img-1{
    width :1080px;
    height:647px;
}
#body-bot{
    background-color: white;
    width:1108px;
    height:430px;
}
#img-2{
    padding-left: 5px;
    height:425px;
    width:534px;
}
#img-3{
    padding-left:-4px;
    height:425px;
    width:542px;
}
#img-4{
    height:425px;
    width:555px;
}

#body-top {
    background-image:url( "img/body1.png");
    background-repeat: no-repeat;
    width:1108px;
    padding-left:0px;
    height:647px;
    margin-top: 3px;
    margin-left: 14px;
    padding-bottom:3px;
}

#button-shop{
    padding-top: 500px;

}
p font#line1 {
    height:61px;
    width:472px;
    position: absolute;
    left:450px;
    top: 500px;
    font-size: 50px;
    font-family:"Times New Roman";
}
p font#line2 {
    height:61px;
    width:472px;
    position: absolute;
    left:450px;
    top: 550px;
    font-size: 80px;
    font-family:"Times New Roman";
}